<mat-card>
    <mat-card-header>
        <mat-card-title>Book example</mat-card-title>
        <mat-card-subtitle>Book</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <table-boot [service]="bookService" [component]="formBook" [columns]="columns" [data]="employee">
        </table-boot>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Formulario II</mat-card-title>
        <mat-card-subtitle>Form Example</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <table-boot [service]="bookService" [component]="form" [columns]="columns" [data]="employee">
        </table-boot>
    </mat-card-content>
</mat-card>