<div class="mat-elevation-z8">
    <mat-card>
        <h2>Angular {{dataSource.length}}</h2>
    </mat-card>
    <table matSort class="mat-table cdk-table">
        <thead role="rowgroup">
            <tr class="mat-header-row cdk-header-row ng-star-inserted">
                <th class="mat-header-cell cdk-header-cell cdk-column-position mat-column-position ng-star-inserted"
                    *ngFor="let col of displayedColumns">
                    {{col.title}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="mat-row cdk-row " *ngFor="let row of dataSource">
                <td class="mat-cell cdk-cell" *ngFor="let col of displayedColumns">
                    <ng-container [ngSwitch]="col.type">
                        <div *ngSwitchCase="'edit'">
                            <button mat-icon-button>
                                <mat-icon aria-hidden="false" aria-label="edit icon">edit</mat-icon>
                            </button>
                            <button mat-icon-button>
                                <mat-icon aria-hidden="false" aria-label="trash icon">delete</mat-icon>
                            </button>
                        </div>
                        <span *ngSwitchCase="'image'">
                            <img [width]="col.width" [src]="getSantizeUrl(row,col.field)" />
                        </span>

                        <span *ngSwitchDefault>{{row[col.field]}}</span>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="showFirstLastButtons">
    </mat-paginator>
</div>