<nav aria-label="Page navigation example" ng-if="vm.pager.totalItems>vm.pager.pageSize">
    <ul class="
     pagination
     justify-content-end">
        <li class="page-item" ng-class="{gray:vm.pager.currentPage === 1}">
            <a class="page-link" ng-click="vm.first() "><i class="fa fa-angle-double-left"></i></a>
        </li>
        <li class="page-item" ng-class="{ 'gray': grilla.config.query.page==1 }">
            <a class="page-link" ng-click="vm.prev()" tabindex="-1"><i class="fa fa-angle-left"></i></a>
        </li>
        <li class="page-item success" ng-repeat="page in vm.pager.pages"
            ng-class="{ 'active':  vm.pager.currentPage==page }">
            <a class="page-link" ng-click="vm.onchangePage(page)"> {{page}}</a>
        </li>
        <li class="page-item" ng-class="{ 'disabled': vm.pager.currentPage=== vm.pager.totalPages }">
            <a class="page-link" ng-click="vm.next()"><i class="fa fa-angle-right"></i></a>
        </li>
        <li class="page-item" ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}"
            ng-disabled="vm.pager.currentPage === vm.pager.totalPages">
            <a class="page-link" ng-click="vm.last()"><i class="fa fa-angle-double-right"></i></a>
        </li>
    </ul>
</nav>


<!-- REACT -->
https://www.digitalocean.com/community/tutorials/how-to-build-custom-pagination-with-react#step-1-%E2%80%94-setting-up-the-project



<nav aria-label="Countries Pagination">
    <ul className="pagination">
        { pages.map((page, index) => {

        if (page === LEFT_PAGE) return (
        <li key={index} className="page-item">
            <a className="page-link" href="#" aria-label="Previous" onClick={this.handleMoveLeft}>
                <span aria-hidden="true">&laquo;</span>
                <span className="sr-only">Previous</span>
            </a>
        </li>
        );

        if (page === RIGHT_PAGE) return (
        <li key={index} className="page-item">
            <a className="page-link" href="#" aria-label="Next" onClick={this.handleMoveRight}>
                <span aria-hidden="true">&raquo;</span>
                <span className="sr-only">Next</span>
            </a>
        </li>
        );

        return (
        <li key={index} className={`page-item${ currentPage===page ? ' active' : '' }`}>
            <a className="page-link" href="#" onClick={ this.handleClick(page) }>{ page }</a>
        </li>
        );

        }) }

    </ul>
</nav>