<mat-drawer-container (backdropClick)="sidenav.close()" class="example-container" autosize>
    <mat-drawer #sidenav class="mat-sidenav" mode="over">
        <app-menu></app-menu>
    </mat-drawer>
    <div class="example-sidenav-content">

        <div class="list-group list-group-flush">
            <ng-content select="sidebar-header"></ng-content>
        </div>
        <div class="container-fluid p-2">
            <ng-content select="sidebar-body"></ng-content>
        </div>
    </div>
</mat-drawer-container>